<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaoyansong.dao.NewsMapper">
    <insert id="uploadNews">
        insert into news(title, source, pubdate, summary, article, type, views, flag, img, user_id)
        values (#{title}, #{source}, now(), #{summary}, #{article}, #{type}, 0, 1, #{img}, #{userId})
    </insert>
    <insert id="userUploadNews">
        insert into news(title, source, pubdate, summary, article, type, views, flag, img, user_id)
        values (#{title}, #{source}, now(), #{summary}, #{article}, #{type}, 0, 0, #{img}, #{userId})
    </insert>
    <select id="checkNewsTitleIsExists" resultType="integer">
        select 1
        from news
        where title = #{title}
    </select>
    <select id="getNews" resultType="News">
        select id, title, source, pubdate, summary, type, views, flag, img
        from
        news
        <where>
            <if test="condition.searchValue!=null">
            <bind name="base" value="'%'+condition.searchValue+'%'"/>
                and title like #{base}
            </if>
            <if test="condition.userId!=null">
                and user_id = #{condition.userId}
            </if>
        </where>
        order by id ${condition.orderBy}
        limit #{beginIndex}, #{pageSize}
    </select>
    <select id="getUserNews" resultType="News">
        select id, title, source, pubdate, summary, type, views, flag, img
        from
        news
        <where>
            and flag = 0
            <if test="condition.searchValue!=null">
                <bind name="base" value="'%'+condition.searchValue+'%'"/>
                and title like #{base}
            </if>
            <if test="condition.userId!=null">
                and user_id = #{condition.userId}
            </if>
        </where>
        order by id ${condition.orderBy}
        limit #{beginIndex}, #{pageSize}
    </select>
    <select id="getTotalSize" resultType="integer">
        select count(id)
        from
        news
        <where>
            <if test="searchValue!=null">
            <bind name="base" value="'%'+searchValue+'%'"/>
                and title like #{base}
            </if>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="getUserTotalSize" resultType="integer">
        select count(id)
        from
        news
        <where>
            and flag = 0
            <if test="searchValue!=null">
                <bind name="base" value="'%'+searchValue+'%'"/>
                and title like #{base}
            </if>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
    <update id="updateNewsByID">
        update news set title = #{title}, source = #{source}, summary = #{summary}, type = #{type}
            where
            id = #{id}
    </update>
    <delete id="deleteNewsByID">
        delete from news where id = #{id}
    </delete>
    <select id="getNewInfoById" resultType="News">
        select
            title, source, pubdate, summary, article, type, views, flag, img
            from
            news
        where
            id = #{id}
    </select>
    <update id="agreeUserNews">
        update news
            set flag = 1
        where id = #{id}
    </update>
    <delete id="refuseUserNews">
        delete from news
        where id = #{id}
    </delete>
    <select id="getListOfHomepageGuoNei" resultType="News">
        select id, title, img
        from
            news
        where type = 0
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageZhengFu" resultType="News">
        select id, title, img
        from
                news
        where type = 1
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageXueXiao" resultType="News">
        select id, title, img
        from
                news
        where type = 2
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageQiYe" resultType="News">
        select id, title, img
        from
                news
        where type = 3
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageYiRen" resultType="News">
        select id, title, img
        from
                news
        where type = 4
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageHaoRen" resultType="News">
        select id, title, img
        from
                news
        where type = 5
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepageHaoShi" resultType="News">
        select id, title, img
        from
                news
        where type = 6
        order by pubdate desc limit 0,5
    </select>
    <select id="getListOfHomepagePingXuan" resultType="News">
        select id, title, img
        from
                news
        where type = 7
        order by pubdate desc limit 0,5
    </select>
    <insert id="addArticleReview">
        insert
        into article_review(article_id, user_id, content, pubdate)
        values(#{articleId}, #{userId}, #{content}, now())
    </insert>
    <select id="getArticleReviews" resultType="ArticleReview">
        select
		content, pubdate
        from
                article_review
        <where>
            <if test="condition.articleId!=null">
                and article_id = #{condition.articleId}
            </if>
        </where>
        order by id ${condition.orderBy}
        limit #{beginIndex}, #{pageSize}
    </select>
    <select id="getArticleReviewsTotalSize" resultType="integer">
        select count(id)
        from
        article_review
        <where>
            <if test="articleId!=null">
                and article_id = #{articleId}
            </if>
        </where>
    </select>
    <update id="updateNewsViewsByID">
        update news set views = views + 1
        where id = #{id}
    </update>
    <select id="getLastedReviews" resultType="News">
        select id, title, img
        from
                news
        order by pubdate desc limit 0,5
    </select>
    <select id="getHotNews" resultType="News">
        select id, title, img
        from
                news
        order by views desc limit 0,5
    </select>
</mapper>