<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaoyansong.dao.NewsMapper">
    <insert id="uploadNews">
        insert into news(title, source, pubdate, summary, article, type, views, flag, img)
        values (#{title}, #{source}, now(), #{summary}, #{article}, #{type}, 0, 1, #{img})
    </insert>
    <select id="checkNewsTitleIsExists" resultType="integer">
        select 1 from news where title = #{title}
    </select>
</mapper>