<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="log4j2"/>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <package name="com.qiaoyansong.entity.background"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="com.qiaoyansong.entity.background.UserType" jdbcType="TINYINT" handler="com.qiaoyansong.handler.UserTypeToTable"/>
    </typeHandlers>
    <mappers>
        <package name="com.qiaoyansong.dao"/>
    </mappers>
</configuration>